img {
     max-width: 100%; 
     height: auto;
    /* vertical-align: middle;
    border-style: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  */
}
main {
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
footer{
    background-color: black;
    height: 4rem;
}
html {
    /* scroll-behavior: smooth; */
    /* -ms-text-size-adjust: 100%; */
    /* -webkit-text-size-adjust: 100%; */
}
/* body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
} */
body::-webkit-scrollbar {
    display: none;
}
.container {
    max-width: 100rem;
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
}
h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
     font-family: var(--title-font);
} 
 /* .grid {
    display: grid;
    gap: 1.5rem;
}  */

.trans {
    /* width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed); */
    background-color: transparent !important;
}
/* .header {
    background-color: var(--first-color);
    box-shadow: 0 0 4px rgba(14, 55, 63, 0.15);
} */

/* .scroll-header .nav__logo,
.scroll-header .nav__toggle,
.scroll-header .nav__cart,
.scroll-header .nav__list,
.scroll-header .nav__link {
    color: var(--white-color);
} */

.home__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: 83%;
    filter: brightness(70%);
}
.home__container {
    position: relative;
    /* height: calc(100vh - var(--header-height));
    align-content: center;
    row-gap: 3rem; */
    
}

.home__data {
    margin: 40rem 10rem 0 ;
}


/* 
.home__data-subtitle,
.home__data-title,
.home__social-link,
.home__info {
    color: var(--white-color);
} */





 .home__data-subtitle {
    color: white;
   /* font-weight: bold; */
   font-size: 2em;
} 

.home__data-title {
   color: white;
   /* font-weight: bold; */
   font-size: 4em;
}

/* .home__button {
    display: table-cell;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
} */


.category__container {
    display: flex;
    justify-content: space-evenly;
}
.category__card {
    position: relative;
    color: var(--white-color);
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
    padding: 1.6rem;
    overflow: hidden;
    z-index: 1;
    
}
.category__card:nth-child(1) {
    background-color: #f5c5d1;
}
.category__card:nth-child(2) {
    background-color: #a1d1df;
}
.category__card:nth-child(3) {
    background-color: #e5bc00;
}
.category__card .category__card-dotted {
    position: relative;
    height: 100%;
    border: 2px dashed #f1f1f1;
    border-radius: 1rem;
}

.category__card .category__content {
    position: absolute;
    top: 66%;
    transform: translate(0, -50%);
}
.category__card .category__content h2,
.category__card .category__content h4 {
    text-shadow: 5px 6px 0 rgba(37, 59, 112, 0.1);
}
.category__card .category__content h2 {
    line-height: 1.2;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.category__card .category__content h4 {
    font-size: .7rem;
    text-transform: capitalize;
}


.feature__title {
    margin:  0 7rem 0;
    text-align: center;
}

 .feature__title h1 {
     font-size: 3rem; 
    display: inline-block;
    position: relative;
    z-index: 0; 
}

 .feature__title h1::after {
     content: "";
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 0.4rem;
    z-index: 1; 
} 

.feature__container {
    display: flex;
    justify-content: space-evenly;
}

 .feature__product {
    height: 22rem;
    width: 10rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    text-align: center;
    transition: all 300ms ease-in-out;
}  

.feature__product:hover {
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.feature__product-header {
    position: relative;
    height: 15rem;
    background-color: #f6f2f1;
    transition: all 300ms ease-in-out;
    z-index: 0;
}

.feature__product-header img {
    height: 100%;
}

.feature__product-footer {
    display: flex;
    flex-direction: column;
    margin: var(--mb-1);
}

.feature__product-footer h2 {
    font-size: 1rem;
}

.feature__rating {
    color: #43b3d9;
}

.feature__product-footer .feature__price {
    color: #ff7c9c;
    font-size: 1.5rem;
}
/*
.feature__product:hover .feature__product-header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease-in-out;
    z-index: 1;
}

.feature__product-header .feature__icons {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0, -50%) scale(0);
    z-index: 2;
    opacity: 0;
    transition: all 500ms ease-in-out;
}

.feature__product-header .feature__icons span {
    background-color: #fff;
    font-size: 1rem;
    display: block;
    border-radius: 50%;
    padding: 1.5rem 1.6rem;
    line-height: 1rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.feature__product-header .feature__icons span i {
    transition: all 500ms ease-in-out;
}

.feature__product-header .feature__icons span:not(:last-child) {
    margin-bottom: .5rem;
}

.feature__product-header .feature__icons span:hover {
    background-color: #ff7c9c;
    color: #fff;
}

.feature__product:hover .feature__icons {
    opacity: 1;
    transform: translate(0, -50%) scale(1);
}

.feature__product-header .feature__icons a {
    display: block;
    margin-bottom: 1rem;
} */




